* {
    margin: 0;padding: 0; box-sizing: border-box;  list-style: none; color: aliceblue; font-family: 'Signika', sans-serif;
    
}

header{
    width: 100%; height: 100vh;
    background: linear-gradient(57deg,black,rgba(0,0,0,1));
    clip-path: polygon(0 0, 100% 0, 100% 27%, 100% 75%, 0 85%) ;
   
    
    
}
nav{
    display: flex; width: 100% ; height: 100px ; color: white;
}
nav .logo{
    width: 40%;display: flex; justify-content: center;align-items: center
}
.menu{
    width: 60%;height: 100px ; text-transform: capitalize;
}
.menu ul{
    width: 100%;height: 100px ; display: flex;flex-direction: row;justify-content: space-around;
    align-items: center; font-size: 18px; font-weight: 300; 
}
section{
    width: 100% ; height: auto;
}
.left {
    width: 60%;
}
.right{
    width: 40%;
}
section{
    display: flex; justify-content: space-between; 
}
section .right {
    text-align: center;  
}
.right h1{
    letter-spacing: 1px; text-shadow: 1px 1px .5px white;margin-bottom: 40px;padding: 20px;
  
}
.wap:after{
    content: "";
    animation:  ash 10s infinite ease ;
}
@keyframes ash{
    0%{content: "Bangladesh";}
     25%{content: "India";}
     50%{content: "Pakistan";}
     100%{content: "Nepal";}
    
}
.wap{
    font-size: 30px; color: yellow;
    
}
.right button{ background: linear-gradient( -58deg, rgba(223, 247, 42),rgba(0,0,0,0.1)); border: none;
    padding: 10px ; margin-top: 20px; border-radius: 24px
}
.right button:hover{
    background: black; border-radius: 24px; border: 1px solid yellow;
}
.menu ul li{
     padding: 5px;
}
.menu ul li:hover{
    border: 1px solid yellow; border-radius: 24px;
}

